export RUSTUP_HOME="$PWD/rustup/"
export CARGO_HOME="$PWD/rustup/cargo"
export GSETTINGS_SCHEMA_DIR=/nix/store/baqf0lfi9ip4zjhqv0w3b8mx97pz5kj4-gtk4-4.12.4/share/gsettings-schemas/gtk4-4.12.4/glib-2.0/schemas/
use flake .
