@define-color bg-color #3C3633;
@define-color bg-selected #000000;
@define-color bg-on #EEEEEE;
@define-color fg-color #FFFFFF;

default {
    background: @bg-color;
    color: @fg-color;
    font-family: "UbuntuMono Nerd Font";
    font-size: 20px;
}

completion {
    color: @fg-color;
    font-family: "UbuntuMono Nerd Font";
    font-size: 20px;
}

completion.on {
    background: @bg-on;
}

text_window {
    margin: 0px 10px 0px 10px;
}

window {
    background: @bg-color;
    color: @fg-color;
}
